html{
    overflow-x: hidden;
}

body{
    background-color: rgba(252, 255, 252, 0.993);
    z-index: -1;
}

.topBar1{
    width: 110%;
    height: 5vw;
    background-color: rgba(148, 210, 140, 0.993);
z-index: 15;
    position: fixed;
    left: -2vw;
    top:0vw
    
    
}

.topBar2{
    width: 110%;
    height: 5vw;
    background-color: rgba(82, 146, 73, 0.993);
z-index: 13;
    position: fixed;
    left: -2vw;
    top:5vw
    
}
.corner{
    background-color: rgba(55, 94, 50, 0.993);
    aspect-ratio: 1;
    z-index: 15;
    height: 5vw;
    position: fixed;
    left: 0vw;
    top:5vw

}
.bookbox{
    z-index: -1;
    border-color: black;
    border-style: solid;
}
h1{
    z-index: 16;
}
input{
    z-index: 16;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0vw; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 20;
}
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 20;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 20;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 10px;
  }
  button{
    z-index: 10;
  }

  #myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    position: absolute;
    top: 10vw;
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    z-index: 1;
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
  }
  
  #myTable th, #myTable td {
    z-index: 1;
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    z-index: 1;
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
  }
  
  